.vscode/**
.vscode-test/**
.git/**
.gitignore
.vscodeignore
node_modules/**
out/*.js
!out/extension.js
out/test/**
src/**
test/**
tsconfig.json
**/*.map
*.vsix
npm-debug.log
yarn-error.log
package-lock.json
assets/preview.png
dev/**
.idea/**
GEMINI.md